* {
    padding: 0;
    margin: 0;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper{
      height: 70vh;
      width: 30vw;
      background-color: rgb(243, 43, 17);
      text-align: center;
      margin-top: 10em;
      border-radius: 20px;
      overflow-y:auto;
      overflow-x: hidden;
      /* padding: 4rem; */
  }
  .title{
      background-color: rgb(45, 11, 124);
      height: 6vh;
      text-align: center;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      position: fixed;
      width: inherit;
      z-index: 1;
  }
  .title span{
    color: #000;
    line-height: 3rem;
    font-weight: 900;
    font-size: 2em;
    text-shadow: rgb(238, 64, 12) 5px 5px 7px;
  }
  
  .list{
      margin-top: 45px;
  }
  dt{
      background: rgb(37, 15, 139);
      height: 4vh;
      position: sticky;
      top:45px;
      font-weight: bold;
  
  }
  